<p>book-entry-form works!</p>
<form #bookForm="ngForm">
    {{ diagnostic }}
    <div>
        <label>
            Title:
        </label>    
            <input type="text" class="form-control" id="bookTitle"
                    required
                    [(ngModel)]="model.bookTitle" name="bookTitle" #bookTitle="ngModel">
        {{ model.bookTitle }}
        <div [hidden]="bookTitle.valid || bookTitle.pristine" class="alert alert-danger">Name is required</div>
    </div>
    <div>
        <label>
            Author:
        </label>            
            <input type="text" class="form-control" id="bookAuthor"
                    required
                    [(ngModel)]="model.bookAuthor" name="bookAuthor" #bookAuthor="ngModel">
        {{ model.bookAuthor }}
        <div [hidden]="bookAuthor.valid || bookAuthor.pristine" class="alert alert-danger">Name is required</div>
    </div>
    <button type="submit" class="btn btn-success" (click)="onSubmit()" [(ngModel)]="submitted">Submit</button>
    {{ submitted }}
</form>
<p>
    
</p>
