    <h2>Add Book to My Library</h2>
    <mat-dialog-content [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <div>
      <label>
        ID:
      </label>
        <mat-form-field>
          <input matInput type="text" class="form-control" formControlName="id">
        </mat-form-field>
      </div>
        <div>
            <label>
              Title:
            </label>
              <mat-form-field>
                <input matInput type="text" class="form-control" formControlName="title">
              </mat-form-field>
        </div>
        <div>
            <label>
              Author:
            </label>
              <mat-form-field>
                <input matInput type="text" class="form-control" formControlName="author">
              </mat-form-field>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions>
      <button type="submit" [disabled]="!bookForm.valid" class="btn btn-success" name="submit" (click)="save()">Submit</button>
      <button type="submit" class="btn" name="cancel" (click)="close()">Cancel</button>
    </mat-dialog-actions>
