html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header{
  background: #000000;
  color: #FFFFFF;
  min-height: 70px;
}
.nav{
  margin: 0 auto;
  width: 61%;
  padding: 0 15px;
  text-transform: uppercase;
}

.nav img{
  background-color: white;
  border: 2px solid inset #000000;
  padding: 5px;
  margin: 5px;
  width: 6em;
  height: 6em;
}
.nav button{
  float: right;
  color: #000000;
  padding: 5px;
  margin-top: 2em;
}
.nav button:hover{
  background-color: #707070;
  color: #FFFFFF;
}
